*.suo
*.csproj.user
*.rar
*.zip
*.7z
*.class
Maven__*.xml
profiles_settings.xml
*.user
*.Cashe
*.dll.config
*.log
*.xml
*.dll
*.exe
*.cache

packages

*/target/**
*/.idea/workspace.xml
*/target/surefire-reports/**
*/*sln.ide/**

*/_ReSharper*/*
*/*/_ReSharper*/*
*/bin/**/*
*/obj/**/*
*/App_Data/**/*
*/*/bin/**/*
*/*/obj/**/*
*/Logs/**/*
Scripts/Build/Output/**/*

/Artifacts/Build/Output
/Artifacts/Build/*.nupkg
/Artifacts/Build/*.7z
*.xpi
/Web/RAST.Web.Client/Logs
/Web/RAST.Web.Client/Scripts/*.map
